html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

html,
body {
  height: 100%;
}

a {
  display: inline-block;
  text-decoration: none;
  color: #555;
}

ul,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

body {
  font-family: 'Quicksand', sans-serif;
  font-size: 15px;
  font-weight: 400;
  line-height: 24px;
  color: #555;
}

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100%;
}

.content {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
}

.footer {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
}

.container {
  max-width: 1170px;
  margin: 0 auto;
  padding: 0 15px;
}

.hidden {
  display: none;
}

.avatar {
  border-radius: 50%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: inline-block;
}

.breadcrumbs__inner {
  width: 1170px;
  overflow: hidden;
}

.breadcrumbs__list li {
  display: inline-block;
  position: relative;
}

.breadcrumbs__list li + li {
  padding-left: 25px;
}

.breadcrumbs__list li + li::before {
  content: '/';
  position: absolute;
  left: 10px;
  color: #f3f3f8;
}

.breadcrumbs__list li:last-child a,
.breadcrumbs__list li:last-child span {
  color: #bfcad7;
}

.breadcrumbs__list a {
  color: #fff;
}

.head {
  padding-top: 58px;
  background-color: rgba(108, 108, 108, 0.9);
  background-image: -webkit-gradient(linear, right top, left top, from(#0d3ef2), to(#4c1f9c));
  background-image: linear-gradient(to left, #0d3ef2 0%, #4c1f9c 100%);
}

.head__subtitle {
  margin-top: 25px;
  padding-bottom: 60px;
  font-size: 30px;
  font-weight: 500;
  color: #fff;
}

@font-face {
  font-family: 'Linearicons-Free';
  src: url("../fonts/Linearicons-Free.eot?w118d");
  src: url("../fonts/Linearicons-Free.eot?#iefixw118d") format("embedded-opentype"), url("../fonts/Linearicons-Free.woff2?w118d") format("woff2"), url("../fonts/Linearicons-Free.woff?w118d") format("woff"), url("../fonts/Linearicons-Free.ttf?w118d") format("truetype"), url("../fonts/Linearicons-Free.svg?w118d#Linearicons-Free") format("svg");
  font-weight: normal;
  font-style: normal;
}

.lnr {
  font-family: 'Linearicons-Free';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.lnr-alarm:before {
  content: "\e858";
}

.lnr-envelope:before {
  content: "\e818";
}

.lnr-cart:before {
  content: "\e82e";
}

.lnr-magnifier:before {
  content: "\e86f";
}

.lnr-chevron-down:before {
  content: "\e874";
}

.lnr-chevron-left:before {
  content: "\e875";
}

.lnr-chevron-right:before {
  content: "\e876";
}

.lnr-heart:before {
  content: "\e813";
}

.lnr-briefcase:before {
  content: "\e84c";
}

.lnr-cloud-download:before {
  content: "\e80b";
}

.lnr-smile:before {
  content: "\e854";
}

.lnr-users:before {
  content: "\e82b";
}

.lnr-license:before {
  content: "\e822";
}

.lnr-magic-wand:before {
  content: "\e803";
}

.lnr-lock:before {
  content: "\e80f";
}

.lnr-chart-bars:before {
  content: "\e843";
}

.lnr-leaf:before {
  content: "\e849";
}

.lnr-phone:before {
  content: "\e831";
}

.lnr-bubble:before {
  content: "\e83f";
}

.lnr-clock:before {
  content: "\e864";
}

.lnr-eye:before {
  content: "\e81b";
}

.lnr-phone-handset:before {
  content: "\e830";
}

.lnr-map-marker:before {
  content: "\e833";
}

.lnr-arrow-left:before {
  content: "\e879";
}

.lnr-arrow-right:before {
  content: "\e87a";
}

.lnr-user:before {
  content: "\e82a";
}

.lnr-inbox:before {
  content: "\e81a";
}

.lnr-question-circle:before {
  content: "\e87d";
}

.lnr-cog:before {
  content: "\e810";
}

.lnr-dice:before {
  content: "\e812";
}

.lnr-chart-bars:before {
  content: "\e843";
}

.lnr-trash:before {
  content: "\e811";
}

.lnr-cloud-upload:before {
  content: "\e80a";
}

.lnr-book:before {
  content: "\e828";
}

.lnr-exit:before {
  content: "\e820";
}

.lnr-star:before {
  content: "\e814";
}

@font-face {
  font-family: 'icomoon';
  src: url("../fonts/icomoon.eot?jtivr7");
  src: url("../fonts/icomoon.eot?jtivr7#iefix") format("embedded-opentype"), url("../fonts/icomoon.ttf?jtivr7") format("truetype"), url("../fonts/icomoon.woff?jtivr7") format("woff"), url("../fonts/icomoon.svg?jtivr7#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-twitter:before {
  content: "\f099";
}

.icon-facebook:before {
  content: "\f09a";
}

.icon-facebook-f:before {
  content: "\f09a";
}

.icon-pinterest:before {
  content: "\f0d2";
}

.icon-linkedin:before {
  content: "\f0e1";
}

.icon-dribbble:before {
  content: "\f17d";
}

.icon-google:before {
  content: "\f1a0";
}

.header__top {
  background-color: #eef1f3;
}

.header__top-inner {
  height: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__register {
  margin-left: auto;
  margin-right: 50px;
}

.header__register a {
  padding: 6px;
  width: 140px;
  -webkit-box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
          box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  border-radius: 18px;
  background-color: #0674ec;
  font-size: 14px;
  color: #fff;
  text-align: center;
}

.header__icons-panel {
  margin-right: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__icon-link {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: 'Linearicons-Free';
  font-size: 20px;
  color: #7e8fa1;
}

.header__icon-link + .header__icon-link {
  margin-left: 30px;
}

.header__icon-link--alarm::before {
  content: "\e858";
}

.header__icon-link--envelope::before {
  content: "\e818";
}

.header__icon-link--cart::before {
  content: "\e82e";
}

.header__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header__info-avatar {
  margin-right: 22px;
  width: 50px;
  height: 50px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.header__info-name {
  color: #333;
  font-size: 16px;
  font-weight: 500;
}

.header__info-price {
  display: block;
  color: #0674ec;
}

.header__menu-inner {
  height: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header__menu-search {
  max-width: 360px;
  width: 100%;
  position: relative;
}

.header__menu-search input {
  display: block;
  width: 100%;
  border-radius: 23px;
  border: 1px solid #d9dfe5;
  height: 46px;
  padding-left: 25px;
  padding-right: 70px;
  color: #555;
}

.header__menu-search input::-webkit-input-placeholder {
  color: #898f96;
  font-weight: 400;
}

.header__menu-search input:-ms-input-placeholder {
  color: #898f96;
  font-weight: 400;
}

.header__menu-search input::-ms-input-placeholder {
  color: #898f96;
  font-weight: 400;
}

.header__menu-search input::placeholder {
  color: #898f96;
  font-weight: 400;
}

.header__menu-search input:focus {
  outline: 1px solid #ccc;
}

.header__menu-search button {
  position: absolute;
  width: 70px;
  height: 46px;
  border: none;
  border-radius: 23px;
  background-color: #0674ec;
  top: 0;
  right: 0;
  cursor: pointer;
}

.notification {
  position: absolute;
  width: 22px;
  height: 22px;
  border-radius: 50%;
  top: -13px;
  right: -11px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 12px;
  color: #fff;
  font-weight: 500;
  text-transform: uppercase;
}

.notification--alarm {
  background-color: #ff6a6c;
}

.notification--envelope {
  background-color: #62d03b;
}

.notification--cart {
  background-color: #0674ec;
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu__list li {
  display: inline-block;
}

.menu__list li + li {
  margin-left: 30px;
}

.menu__list a {
  color: #333333;
  font-size: 15px;
  font-weight: 500;
  text-transform: uppercase;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.menu__list a:hover {
  color: #0674ec;
}

.lnr-magnifier {
  color: #fff;
}

.search__section {
  padding: 85px 0 30px;
  background-color: rgba(68, 28, 124, 0.9);
  background-image: -webkit-gradient(linear, right top, left top, from(#0d3ef2), to(#4c1f9c));
  background-image: linear-gradient(to left, #0d3ef2 0%, #4c1f9c 100%);
}

.search__inner {
  text-align: center;
}

.search__text {
  margin-bottom: 30px;
  color: #f3f3f8;
  font-size: 26px;
}

.search__text span {
  font-weight: 500;
}

.search__form {
  position: relative;
  max-width: 555px;
  margin: 0 auto;
  margin-bottom: 35px;
}

.search__form-input {
  padding-left: 20px;
  padding-right: 115px;
  display: block;
  border-radius: 28px;
  background-color: #ffffff;
  height: 55px;
  width: 100%;
  border: none;
  font-size: 15px;
  color: #555;
}

.search__form-input::-webkit-input-placeholder {
  color: #747b86;
}

.search__form-input:-ms-input-placeholder {
  color: #747b86;
}

.search__form-input::-ms-input-placeholder {
  color: #747b86;
}

.search__form-input::placeholder {
  color: #747b86;
}

.search__form-button {
  position: absolute;
  top: 0;
  right: 0;
  padding: 0 31px;
  height: 55px;
  font-size: 15px;
  color: #fff;
  border: none;
  border-radius: 28px;
  background-color: #0674ec;
}

.search .breadcrumbs__list {
  text-align: center;
}

.slide {
  position: relative;
  min-height: 726px;
  background-color: rgba(68, 28, 124, 0.8);
  background-image: -webkit-gradient(linear, right top, left top, from(#0030de), to(#2e5afb));
  background-image: linear-gradient(to left, #0030de 0%, #2e5afb 100%);
}

.slide__inner {
  padding: 185px 0 235px;
  text-align: center;
  color: #f3f3f8;
}

.slide__title {
  margin-bottom: 38px;
  text-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
  font-size: 60px;
  font-weight: 400;
  line-height: 70px;
}

.slide__title span {
  display: block;
  font-weight: 700;
}

.slide__descr {
  margin-bottom: 68px;
  font-size: 20px;
  font-weight: 500;
}

.slide__btn-button {
  width: 190px;
  padding: 16px;
  color: #fff;
  font-size: 16px;
  font-weight: 400;
  -webkit-box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
          box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  border-radius: 28px;
  border: 1px solid #ffffff;
  background-color: transparent;
  cursor: pointer;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.slide__btn-button:hover {
  background-color: #ffffff;
  color: #0674ec;
}

.slide__btn-button--active {
  margin-right: 30px;
  background-color: #ffffff;
  color: #0674ec;
}

.slide__btn-button--active:hover {
  background-color: transparent;
  color: #fff;
}

.slide__search-wrapper {
  position: absolute;
  max-width: 1140px;
  width: 100%;
  bottom: -67px;
}

.slide__search-box {
  position: relative;
  -webkit-box-shadow: 0 4px 20px rgba(0, 0, 0, 0.08);
          box-shadow: 0 4px 20px rgba(0, 0, 0, 0.08);
  border-radius: 6px;
  background-color: #ffffff;
  z-index: 10;
}

.slide__search-box::after {
  content: '';
  position: absolute;
  width: 1110px;
  height: 135px;
  border-radius: 6px;
  background-color: rgba(255, 255, 255, 0.5);
  top: -13px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  z-index: -1;
}

.slide__search-box::before {
  content: '';
  position: absolute;
  width: 1080px;
  height: 135px;
  border-radius: 6px;
  background-color: rgba(255, 255, 255, 0.5);
  top: -26px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  z-index: -2;
}

.slide__search-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 40px;
}

.slide__search-form button {
  width: 223px;
  border: none;
  border-radius: 4px;
  color: #ffffff;
  background-color: #0674ec;
  font-size: 16px;
  padding: 17px;
  cursor: pointer;
}

.slide__search-input-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 584px;
  border-right: 1px solid #dcdcdc;
}

.slide__search-input {
  width: 100%;
  padding: 0 40px;
  border: none;
  font-size: 16px;
  color: #555;
}

.slide__search-input::-webkit-input-placeholder {
  color: #898f96;
  font-weight: 400;
}

.slide__search-input:-ms-input-placeholder {
  color: #898f96;
  font-weight: 400;
}

.slide__search-input::-ms-input-placeholder {
  color: #898f96;
  font-weight: 400;
}

.slide__search-input::placeholder {
  color: #898f96;
  font-weight: 400;
}

.slide__search-dropdown {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 223px;
}

.slide__search-dropdown .jq-selectbox {
  width: 100%;
}

.slide__search-dropdown .jq-selectbox__select {
  height: 55px;
  padding: 0 20px;
  border: 1px solid #dcdcdc;
  border-left: none;
  border-right: none;
  border-bottom-color: #dcdcdc;
  border-radius: 0;
  background: #ffffff;
  -webkit-box-shadow: none;
          box-shadow: none;
  font-family: 'Quicksand', sans-serif;
  font-size: 16px;
  line-height: 55px;
  color: #555555;
  text-shadow: none;
}

.slide__search-dropdown .jq-selectbox__trigger {
  border-left: none;
}

.slide__search-dropdown .jq-selectbox__trigger-arrow {
  border: none;
  font-size: 12px;
  line-height: 55px;
  right: 20px;
  top: 0;
}

.slide__search-dropdown .jq-selectbox__trigger-arrow::before {
  content: "\e874";
  font-family: 'Linearicons-Free';
  color: #676767;
}

.slide__search-dropdown .jq-selectbox__dropdown {
  height: auto;
  bottom: auto;
  top: 52px;
}

.slide__search-dropdown .jq-selectbox li {
  min-height: 18px;
  padding: 5px 10px 6px;
  font-family: 'Quicksand', sans-serif;
  font-size: 16px;
  color: #555555;
}

.form__search-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 807px;
  height: 55px;
  border-radius: 4px;
  border: 1px solid #dcdcdc;
}

.features__inner {
  padding: 185px 0 120px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.features__item {
  max-width: 365px;
  padding: 40px 35px 49px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.features__item:hover {
  -webkit-box-shadow: 0 2px 50px rgba(0, 0, 0, 0.08);
          box-shadow: 0 2px 50px rgba(0, 0, 0, 0.08);
  border-radius: 4px;
  background-color: #ffffff;
}

.features__item-image {
  width: 113px;
  height: 120px;
  margin-bottom: 38px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.features__item-image img {
  max-width: 100%;
}

.features__item-title {
  margin: 0 0 34px 0;
  font-size: 24px;
  color: #000;
}

.features__item-text {
  margin: 0;
  font-size: 16px;
  line-height: 30px;
  text-align: center;
}

.featured {
  background-color: #eff1f5;
}

.featured__wrapper {
  padding: 120px 0;
}

.featured__title {
  position: relative;
  padding: 40px 30px;
  margin-bottom: 50px;
  -webkit-box-shadow: 0 2px 4px rgba(108, 111, 115, 0.1);
          box-shadow: 0 2px 4px rgba(108, 111, 115, 0.1);
  border-radius: 4px;
  background-color: #ffffff;
  font-size: 30px;
  font-weight: 400;
  color: #000000;
}

.featured__slider-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.featured__slider-images {
  position: relative;
  width: 555px;
  height: 450px;
  border-radius: 4px 0 0 4px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.featured__slider-images--hover {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #0674ec;
  background-image: -webkit-gradient(linear, right top, left top, from(#0674ec), to(#7347c1));
  background-image: linear-gradient(to left, #0674ec 0%, #7347c1 100%);
  opacity: 0;
  -webkit-transition: opacity .3s;
  transition: opacity .3s;
}

.featured__slider-images--hover:hover {
  opacity: 0.9;
}

.featured__slider-images--hover a {
  color: #fff;
  -webkit-box-shadow: 0 4px 15px rgba(0, 0, 0, 0.15);
          box-shadow: 0 4px 15px rgba(0, 0, 0, 0.15);
  border-radius: 23px;
  border: 1px solid #f4f4f4;
  line-height: 45px;
  padding: 0 30px;
}

.featured__slider-images--hover a + a {
  margin-left: 11px;
}

.featured__slider-images--hover a:hover {
  color: #0674ec;
  background-color: #ffffff;
}

.featured__slider-product {
  max-width: 585px;
  background-color: #fff;
}

.featured__slider-wrapper {
  padding: 50px 50px 24px 50px;
}

.featured__slider-title {
  font-size: 24px;
  font-weight: 500;
  color: #000000;
  margin-bottom: 15px;
}

.featured__slider-name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 30px;
}

.featured__slider-author {
  max-width: 110px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 20px;
}

.featured__slider-avatar {
  width: 30px;
  height: 30px;
  margin-right: 9px;
}

.featured__slider-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.featured__slider-icon span {
  margin-left: 9px;
}

.featured__slider-description {
  margin-bottom: 30px;
  font-size: 16px;
  line-height: 28px;
}

.featured__slider-category {
  padding-bottom: 44px;
  margin-bottom: 23px;
  border-bottom: 1px solid #ececec;
}

.featured__slider-category a {
  border-radius: 14px;
  background-color: #f1f3f6;
  line-height: 28px;
  padding: 0 17px;
  -webkit-transition: all .4s;
  transition: all .4s;
}

.featured__slider-category a + a {
  margin-left: 7px;
}

.featured__slider-category a:hover {
  background-color: #0674ec;
  color: #fff;
}

.featured__slider-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.slider-info__price {
  border-radius: 16px;
  background-color: #0674ec;
  font-weight: 500;
  color: #fff;
  line-height: 32px;
  padding: 0 18px;
  margin-right: 18px;
}

.slider-info__action a + a {
  margin-left: 19px;
  color: #0674ec;
}

.slider-info__star {
  margin-left: auto;
}

.banner__section {
  padding: 110px 0;
  width: 100%;
  background-color: rgba(21, 26, 32, 0.9);
  background-image: -webkit-gradient(linear, right top, left top, from(#0d3ef2), to(#7221a0));
  background-image: linear-gradient(to left, #0d3ef2 0%, #7221a0 100%);
}

.banner__wrapper {
  text-align: center;
}

.banner__title {
  margin-bottom: 20px;
  font-size: 36px;
  color: #fff;
}

.banner__description {
  margin-bottom: 50px;
  color: #e7e7e7;
  font-size: 18px;
}

.banner__link {
  padding: 0 43px;
  color: #0674ec;
  font-size: 16px;
  line-height: 55px;
  -webkit-box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
          box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  border-radius: 28px;
  border: 1px solid transparent;
  background-color: #ffffff;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.banner__link:hover {
  color: #fff;
  background-color: transparent;
  border: 1px solid #fff;
}

.footer__content {
  background-color: #262b30;
}

.footer__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 115px 0 85px;
}

.footer__col {
  max-width: 135px;
  width: 100%;
  color: #ababab;
}

.footer__col-address {
  max-width: 265px;
}

.footer__col-logo {
  margin-bottom: 40px;
}

.footer__col-text {
  margin-bottom: 30px;
}

.footer__col-phone, .footer__col-email, .footer__col-info {
  padding-left: 30px;
  margin-bottom: 20px;
  color: #ababab;
  position: relative;
}

.footer__col-phone a, .footer__col-email a, .footer__col-info a {
  color: #ababab;
}

.footer__col-phone:before, .footer__col-email:before, .footer__col-info:before {
  position: absolute;
  font-family: 'Linearicons-Free';
  font-size: 16px;
  color: #fff;
  left: 0;
}

.footer__col-phone:before {
  content: "\e830";
}

.footer__col-email:before {
  content: "\e818";
}

.footer__col-info {
  margin-bottom: 0;
}

.footer__col-info:before {
  content: "\e833";
  top: 10px;
}

.footer__col-title {
  font-size: 18px;
  color: #fff;
  letter-spacing: 0.9px;
  margin-bottom: 60px;
}

.footer__col-list a {
  margin-bottom: 12px;
  color: #ababab;
}

.footer__col-social {
  max-width: 361px;
}

.footer__col-form {
  position: relative;
  margin-bottom: 75px;
}

.footer__col-form input {
  display: block;
  border: none;
  border-radius: 25px;
  background-color: #ffffff;
  width: 100%;
  height: 50px;
  padding-left: 30px;
  padding-right: 110px;
  font-size: 15px;
  color: #000;
}

.footer__col-form input::-webkit-input-placeholder {
  color: #ababab;
  font-size: 15px;
}

.footer__col-form input:-ms-input-placeholder {
  color: #ababab;
  font-size: 15px;
}

.footer__col-form input::-ms-input-placeholder {
  color: #ababab;
  font-size: 15px;
}

.footer__col-form input::placeholder {
  color: #ababab;
  font-size: 15px;
}

.footer__col-form button {
  position: absolute;
  border: none;
  width: 110px;
  height: 50px;
  border-radius: 25px;
  font-size: 15px;
  color: #ffffff;
  background-color: #0674ec;
  right: 0;
  bottom: 0;
  cursor: pointer;
}

.footer__col-social-link li {
  display: inline-block;
}

.footer__col-social-link li + li {
  margin-left: 14px;
}

.footer__col-social-link a {
  color: #fff;
  font-size: 16px;
  width: 42px;
  height: 42px;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__copy {
  background-color: #192027;
}

.footer__copy-text {
  padding: 35px 0;
  text-align: center;
  color: #999999;
}

.icon-facebook {
  background-color: #395799;
}

.icon-twitter {
  background-color: #19b2f5;
}

.icon-google {
  background-color: #f05b44;
}

.icon-pinterest {
  background-color: #9c0c1c;
}

.icon-linkedin {
  background-color: #0da6be;
}

.icon-dribbble {
  background-color: #ea4c89;
}

.product-item {
  margin: 0 auto;
}

.product-item__inner {
  max-width: 360px;
  width: 100%;
  -webkit-box-shadow: 0 2px 4px rgba(108, 111, 115, 0.1);
          box-shadow: 0 2px 4px rgba(108, 111, 115, 0.1);
  border-radius: 4px;
  background-color: #ffffff;
}

.product-item__images {
  position: relative;
  display: block;
  min-height: 230px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.product-item__images--hover {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #0674ec;
  background-image: -webkit-gradient(linear, right top, left top, from(#0674ec), to(#7347c1));
  background-image: linear-gradient(to left, #0674ec 0%, #7347c1 100%);
  opacity: 0;
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
}

.product-item__images--hover:hover {
  opacity: 0.9;
}

.product-item__images--hover a {
  padding: 0 30px;
  line-height: 45px;
  color: #fff;
  border-radius: 23px;
  border: 1px solid #f4f4f4;
  -webkit-box-shadow: 0 4px 15px rgba(0, 0, 0, 0.15);
          box-shadow: 0 4px 15px rgba(0, 0, 0, 0.15);
}

.product-item__images--hover a + a {
  margin-left: 11px;
}

.product-item__images--hover a:hover {
  color: #0674ec;
  background-color: #ffffff;
}

.product-item__wrapper {
  background-color: #fff;
}

.product-item__content {
  padding: 30px 30px 34px;
  border-bottom: 1px solid #ececec;
}

.product-item__title {
  margin-bottom: 17px;
  font-size: 20px;
  font-weight: 500;
  color: #000000;
}

.product-item__name {
  margin-bottom: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.product-item__author {
  margin-right: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.product-item__avatar {
  margin-right: 7px;
  width: 28px;
  height: 28px;
}

.product-item__category {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.product-item__category span {
  margin-left: 9px;
  color: #7347c1;
}

.product-item__description {
  font-size: 16px;
  line-height: 30px;
}

.product-item__selection {
  display: none;
}

.product-item__info {
  padding: 15px 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.product-item__info-price {
  margin-right: 13px;
  padding: 0 17px;
  border-radius: 15px;
  background-color: rgba(6, 117, 236, 0.1);
  color: #0674ec;
  font-weight: 500;
  line-height: 30px;
}

.product-item__info-heart {
  color: #7f4ec2;
}

.product-item__info-heart span {
  color: #6f7d8d;
}

.product-item__info-bubble {
  display: none;
}

.product-item__info-star {
  background-image: url("../../images/icons/star-o.svg");
  background-size: contain;
  margin-right: auto;
  margin-left: 6px;
}

.product-item__info-cart {
  color: #0674ec;
}

main {
  background-color: #f6f7fb;
}

.page-404__section {
  padding-bottom: 100px;
}

.page-404__inner {
  padding-top: 80px;
  padding-bottom: 120px;
  text-align: center;
}

.page-404__image {
  margin-bottom: 50px;
}

.page-404__text {
  margin-bottom: 40px;
  font-size: 30px;
  color: #000;
}

.page-404__link {
  padding: 0 45px;
  color: #ffffff;
  font-family: Quicksand;
  font-size: 15px;
  line-height: 50px;
  font-weight: 500;
  -webkit-box-shadow: 0 5px 30px rgba(0, 0, 0, 0.1);
          box-shadow: 0 5px 30px rgba(0, 0, 0, 0.1);
  border-radius: 25px;
  background-color: #0674ec;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.page-404__link:hover {
  background-color: rgba(6, 117, 236, 0.521);
}

.login__wrapper {
  padding-top: 75px;
  padding-bottom: 120px;
  background-color: #eff1f5;
}

.login__content {
  padding: 60px 0;
  margin: 0 auto;
  max-width: 555px;
  -webkit-box-shadow: 0 2px 4px rgba(108, 111, 115, 0.1);
          box-shadow: 0 2px 4px rgba(108, 111, 115, 0.1);
  border-radius: 4px;
  background-color: #ffffff;
}

.login__title {
  margin-bottom: 25px;
  font-size: 26px;
  font-weight: 400;
  line-height: 28px;
  text-align: center;
  color: #000;
}

.login__description {
  padding-bottom: 30px;
  font-size: 16px;
  font-weight: 400;
  text-align: center;
  border-bottom: 1px solid #e8ebf0;
}

.login__form {
  padding: 30px 50px 60px;
}

.login__form label,
.login__form input {
  display: block;
}

.login__form label {
  margin-bottom: 30px;
  font-size: 16px;
  font-weight: 500;
  color: #000;
}

.login__form input[type="text"],
.login__form input[type="password"] {
  padding: 0 22px;
  margin-top: 15px;
  width: 100%;
  height: 50px;
  color: #555;
  background-color: #f4f5f8;
  border: none;
}

.login__form input[type="text"]::-webkit-input-placeholder,
.login__form input[type="password"]::-webkit-input-placeholder {
  color: #898f96;
  font-size: 16px;
}

.login__form input[type="text"]:-ms-input-placeholder,
.login__form input[type="password"]:-ms-input-placeholder {
  color: #898f96;
  font-size: 16px;
}

.login__form input[type="text"]::-ms-input-placeholder,
.login__form input[type="password"]::-ms-input-placeholder {
  color: #898f96;
  font-size: 16px;
}

.login__form input[type="text"]::placeholder,
.login__form input[type="password"]::placeholder {
  color: #898f96;
  font-size: 16px;
}

.login__form button {
  margin-bottom: 40px;
  padding: 0 58px;
  color: #ffffff;
  font-size: 15px;
  line-height: 50px;
  font-weight: 500;
  -webkit-box-shadow: 0 5px 30px rgba(0, 0, 0, 0.1);
          box-shadow: 0 5px 30px rgba(0, 0, 0, 0.1);
  border-radius: 25px;
  border: none;
  background-color: #0674ec;
  cursor: pointer;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.login__form button:hover {
  background-color: rgba(6, 117, 236, 0.795);
}

.login__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.login__link span {
  color: #898f96;
  font-size: 16px;
}

.login__link span a {
  color: #0674ec;
}

.jq-checkbox {
  padding: 0;
  position: relative;
  display: inline-block;
  vertical-align: -5px;
  width: 22px;
  height: 22px;
  margin: 0 4px 0 0;
  border: 2px solid #aaa;
  border-radius: 50%;
  background: #fff;
  -webkit-box-shadow: none;
          box-shadow: none;
  cursor: pointer;
  -webkit-transition: .2s;
  transition: .2s;
}

.jq-checkbox.checked .jq-checkbox__div {
  width: 8px;
  height: 4px;
  margin: 3px 0 0 3px;
  border-bottom: 2px solid #666;
  border-left: 2px solid #666;
  -webkit-transform: rotate(-50deg);
  transform: rotate(-50deg);
}

.jq-checkbox.checked {
  border: 2px solid #555;
}

.password__wrapper {
  padding-top: 75px;
  padding-bottom: 120px;
  background-color: #eff1f5;
}

.password__content {
  margin: 0 auto;
  padding: 60px 0;
  max-width: 555px;
  -webkit-box-shadow: 0 2px 4px rgba(108, 111, 115, 0.1);
          box-shadow: 0 2px 4px rgba(108, 111, 115, 0.1);
  border-radius: 4px;
  background-color: #fff;
}

.password__description {
  padding: 0 49px 30px 45px;
  font-size: 16px;
  line-height: 30px;
  border-bottom: 1px solid #e8ebf0;
}

.password__form {
  padding-top: 40px;
  padding-left: 49px;
}

.password__form label {
  display: block;
  font-size: 16px;
  font-weight: 500;
  color: #000;
}

.password__form input {
  margin-top: 15px;
  margin-bottom: 49px;
  padding: 0 20px;
  display: block;
  max-width: 455px;
  width: 100%;
  height: 50px;
  color: #555;
  font-size: 16px;
  background-color: #f4f5f8;
  border: none;
}

.password__form input::-webkit-input-placeholder {
  color: #898f96;
}

.password__form input:-ms-input-placeholder {
  color: #898f96;
}

.password__form input::-ms-input-placeholder {
  color: #898f96;
}

.password__form input::placeholder {
  color: #898f96;
}

.password__form button {
  padding: 0 52px;
  color: #ffffff;
  font-size: 15px;
  line-height: 50px;
  font-weight: 500;
  -webkit-box-shadow: 0 5px 30px rgba(0, 0, 0, 0.1);
          box-shadow: 0 5px 30px rgba(0, 0, 0, 0.1);
  border-radius: 25px;
  border: none;
  background-color: #0674ec;
  cursor: pointer;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.password__form button:hover {
  background-color: rgba(6, 117, 236, 0.795);
}

.register__wrapper {
  padding-top: 75px;
  padding-bottom: 120px;
  background-color: #eff1f5;
}

.register__content {
  padding: 60px 0;
  margin: 0 auto;
  max-width: 555px;
  -webkit-box-shadow: 0 2px 4px rgba(108, 111, 115, 0.1);
          box-shadow: 0 2px 4px rgba(108, 111, 115, 0.1);
  border-radius: 4px;
  background-color: #ffffff;
}

.register__content-inner {
  border-bottom: 1px solid #e8ebf0;
}

.register__title {
  margin-bottom: 25px;
  font-size: 26px;
  font-weight: 400;
  line-height: 28px;
  text-align: center;
  color: #000;
}

.register__description {
  max-width: 430px;
  margin: 0 auto;
  padding-bottom: 30px;
  font-size: 16px;
  font-weight: 400;
  text-align: center;
}

.register__form {
  padding: 30px 50px 60px;
}

.register__form label,
.register__form input {
  display: block;
}

.register__form label {
  margin-bottom: 30px;
  font-size: 16px;
  font-weight: 500;
  color: #000;
}

.register__form input {
  padding: 0 22px;
  margin-top: 15px;
  width: 100%;
  height: 50px;
  color: #555;
  background-color: #f4f5f8;
  border: none;
}

.register__form input::-webkit-input-placeholder {
  color: #898f96;
  font-size: 16px;
}

.register__form input:-ms-input-placeholder {
  color: #898f96;
  font-size: 16px;
}

.register__form input::-ms-input-placeholder {
  color: #898f96;
  font-size: 16px;
}

.register__form input::placeholder {
  color: #898f96;
  font-size: 16px;
}

.register__form button {
  margin-bottom: 40px;
  padding: 0 58px;
  color: #ffffff;
  font-size: 15px;
  line-height: 50px;
  font-weight: 500;
  -webkit-box-shadow: 0 5px 30px rgba(0, 0, 0, 0.1);
          box-shadow: 0 5px 30px rgba(0, 0, 0, 0.1);
  border-radius: 25px;
  border: none;
  background-color: #0674ec;
  cursor: pointer;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.register__form button:hover {
  background-color: rgba(6, 117, 236, 0.795);
}

.register__link span {
  color: #898f96;
  font-size: 16px;
}

.register__link span a {
  color: #0674ec;
}
/*# sourceMappingURL=style.css.map */