html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}



.box {
  font-size: 12px;
  padding: 0;
  margin: 0;
  text-align: right;
}

.test {
  display: flex;
  justify-content: space-between;
  text-align: center;
  width: 200px;
  transition: all 0.5s;
}