<section class="features">
  <div class='container'>
    <div class="features__inner">
      <div class="features__item">
        <div class="features__item-image">
          <img src="images/features/features-1.png" alt="Icon">
        </div>
        <h3 class="features__item-title">Best UX Research</h3>
        <p class="features__item-text">
          Nunc placerat mi id nisi interdum mollis. Praesent pharetra, justo ut scelerisque
          the mattis, leo quam aliquet diam
          congue is laoreet elit metus.
        </p>
      </div>
      <div class="features__item">
        <div class="features__item-image">
          <img src="images/features/features-2.png" alt="Icon">
        </div>
        <h3 class="features__item-title">Fully Responsive</h3>
        <p class="features__item-text">
          Nunc placerat mi id nisi interdum mollis. Praesent pharetra, justo ut scelerisque
          the mattis, leo quam aliquet diam
          congue is laoreet elit metus.
        </p>
      </div>
      <div class="features__item">
        <div class="features__item-image">
          <img src="images/features/features-3.png" alt="Icon">
        </div>
        <h3 class="features__item-title">Buy & Sell Easily</h3>
        <p class="features__item-text">
          Nunc placerat mi id nisi interdum mollis. Praesent pharetra, justo ut scelerisque
          the mattis, leo quam aliquet diam
          congue is laoreet elit metus.
        </p>
      </div>
    </div>
  </div>
</section>