<header class="header">
  <div class="header__top">
    <div class="container">
      <div class="header__top-inner">
        <div class="header__logo">
          <a href="#">
            <img src="images/logo.png" alt="Logo" />
          </a>
        </div>
        <div class="header__register">
          <a href="#">Become a Seller</a>
        </div>
        <div class="header__icons-panel">
          <a class="header__icon-link header__icon-link--alarm" href="#">
            
            <span class="notification notification--alarm">25</span>
          </a>
          <a class="header__icon-link header__icon-link--envelope" href="#">
            <span class="notification notification--envelope">6</span>
          </a>
          <a class="header__icon-link header__icon-link--cart" href="#">
            <span class="notification notification--cart">2</span>
          </a>
        </div>
        <div class="header__info">
          <div class="header__info-avatar" style="background-image: url('images/avatar.png')"></div>
          <div class="header__info-name">
            Taofiq Hakim
            <span class="header__info-price">$20.45</span>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="header__menu">
    <div class="container">
      <div class="header__menu-inner">
        <nav class="menu">
          <ul class="menu__list">
            <li><a href="#">HOME</a></li>
            <li><a href="#">all products</a></li>
            <li><a href="#">wordpress</a></li>
            <li><a href="#">festures</a></li>
            <li><a href="#">Pages</a></li>
          </ul>
        </nav>
        <div class="header__menu-search">
          <form action="#">
            <input type="text" placeholder="Search product here..." required />
            <button type="submit">
              <span class="lnr lnr-magnifier"></span>
            </button>
          </form>
        </div>
      </div>
    </div>
  </div>
</header>