<header class="header">
  <div class="header__top">
    <div class="container">
      <div class="header__top-inner">
        <div class="header__logo">
          <a href="#">
            <img src="images/logo.png" alt="Logo" />
          </a>
        </div>
        <div class="header__register">
          <a href="#">Become a Seller</a>
        </div>
        <div class="header__icons-panel">
          <a class="header__icon-link header__icon-link--alarm" href="#">
            <span class="notification notification--alarm">25</span>
          </a>
          <a class="header__icon-link header__icon-link--envelope" href="#">
            <span class="notification notification--envelope">6</span>
          </a>
          <a class="header__icon-link header__icon-link--cart" href="#">
            <span class="notification notification--cart">2</span>
          </a>
        </div>
        <div class="header__info">
          <div class="header__info-avatar" style="background-image: url('images/avatar1.jpg')"></div>
          <div class="header__info-name">
            Taofiq Hakim
            <span class="header__info-price">$20.45</span>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="header__menu">
    <div class="container">
      <div class="header__menu-inner">
        <nav class="menu">
          <ul class="menu__list">
            <li class="header__drop-down drop-down__menu">
              <a class="drop-down__link" href="#">HOME</a>
              <ul class="drop-down__list" style="display: none;">
                <li><a class="active" href="#">Home One Multi User</a></li>
                <li><a href="#">Home Two Single User</a></li>
                <li><a href="#">Home Three Product</a></li>
              </ul>
            </li>
            <li class="header__drop-down drop-down__menu">
              <a class="drop-down__link" href="#">all products</a>
              <ul class="drop-down__list" style="display: none;">
                <li><a class="active" href="#">Recent Items</a></li>
                <li><a href="#">Popular Items</a></li>
                <li><a href="#">Featured Items</a></li>
                <li><a href="#">Free Templates</a></li>
                <li><a href="#">Follow Feed</a></li>
                <li><a href="#">Top Authors</a></li>
              </ul>
            </li>
            <li class="header__drop-down drop-down__menu">
              <a class="drop-down__link" href="#">wordpress</a>
              <ul class="drop-down__list" style="display: none;">
                <li><a class="active" href="#">Popular Items</a></li>
                <li><a href="#">Admin Templates</a></li>
                <li><a href="#">Blog / Magazine / News</a></li>
                <li><a href="#">Creative</a></li>
                <li><a href="#">Corporate Business</a></li>
                <li><a href="#">Resume Portfolio</a></li>
                <li><a href="#">eCommerce</a></li>
                <li><a href="#">Entertainment</a></li>
                <li><a href="#">Landing Pages</a></li>
              </ul>
            </li>
            <li><a href="#">festures</a></li>
            <li class="header__drop-down drop-down__menu">
              <a class="drop-down__link" href="#">Pages</a>
              <ul class="drop-down__list" style="display: none;">
                <li><a class="active" href="#">Popular Items</a></li>
                <li><a href="#">Admin Templates</a></li>
                <li><a href="#">Blog / Magazine / News</a></li>
                <li><a href="#">Creative</a></li>
                <li><a href="#">Corporate Business</a></li>
                <li><a href="#">Resume Portfolio</a></li>
                <li><a href="#">eCommerce</a></li>
                <li><a href="#">Entertainment</a></li>
                <li><a href="#">Landing Pages</a></li>
              </ul>
            </li>
          </ul>
        </nav>
        <div class="header__menu-search">
          <form action="#">
            <input type="text" placeholder="Search product here..." required />
            <button type="submit">
              <span class="lnr lnr-magnifier"></span>
            </button>
          </form>
        </div>
      </div>
    </div>
  </div>
</header>