<section class="search search__section">
   <div class='container'>
      <div class="search__inner">
         <div class="search__text">
            <span>4,572</span> wordpress themes, made with love
         </div>
         <div class="search__form">
            <form action="#">
               <input class="search__form-input" type="text" placeholder="Search your products" required>
               <button class="search__form-button" type="submit">Search</button>
            </form>
         </div>
      </div>
      <div class="breadcrumbs">
         <div class='container'>
            <div class="breadcrumbs__inner">
               <ul class="breadcrumbs__list">
                  <li><a href="#">Home</a></li>
                  <li><span>Category Page Grid</span></li>
               </ul>
            </div>
         </div>
      </div>
   </div>
</section>