<section class="slide">
  <div class="container">
    <div class="slide__inner">
      <h1 class="slide__title">
        Create Your Own
        <span>Digital Product Marketplace</span>
      </h1>
      <p class="slide__descr">
        MartPlace is the most powerful, & customizable template for Easy
        Digital Downloads Products
      </p>
      <div class="slide__btn">
        <button class="slide__btn-button slide__btn-button--active" type="button">
          View All Products
        </button>
        <button class="slide__btn-button" type="button">
          Popular Products
        </button>
      </div>
    </div>
    <!-- search -->
    <div class="slide__search-wrapper">
      <div class="slide__search-box">
        <form action="#" class="slide__search-form">
          <div class="form__search-block">
            <div class="slide__search-input-wrapper">
              <input class="slide__search-input" type="text" placeholder="Search your products..." />
            </div>
            <div class="slide__search-dropdown">
              <div data-select class="slide-select">
                <div data-select-title="All Categories" class="slide-select__title">All Categories</div>
                <div class="slide-select__dropdown hidden">
                  <div data-select-item="Wordpress" class="slide-select__dropdown-item">Wordpress</div>
                  <div data-select-item="Landing Page" class="slide-select__dropdown-item">Landing Page</div>
                  <div data-select-item="Psd Template" class="slide-select__dropdown-item">Psd Template</div>
                  <div data-select-item="Plugins" class="slide-select__dropdown-item">Plugins</div>
                  <div data-select-item="HTML Template" class="slide-select__dropdown-item">HTML Template</div>
                  <div data-select-item="Components" class="slide-select__dropdown-item">Components</div>
                  <div data-select-item="Joomla Template" class="slide-select__dropdown-item">Joomla Template</div>
                </div>
              </div>
              <select name="select" class="hidden" id="selectReal" value="none">
                <option value="All Categories">All Categories</option>
                <option value="wordpress">Wordpress</option>
                <option value="landing">Landing Page</option>
                <option value="psd">Psd Template</option>
                <option value="plugins">Plugins</option>
                <option value="html">HTML Template</option>
                <option value="components">Components</option>
                <option value="joomla">Joomla Template</option>
              </select>
            </div>

          </div>
          <button type="submit">Search Now</button>
        </form>
      </div>
    </div>
  </div>
</section>