<section class="slide">
  <div class="container">
    <div class="slide__inner">
      <h1 class="slide__title">
        Create Your Own
        <span>Digital Product Marketplace</span>
      </h1>
      <p class="slide__descr">
        MartPlace is the most powerful, & customizable template for Easy
        Digital Downloads Products
      </p>
      <div class="slide__btn">
        <button
          class="slide__btn-button slide__btn-button--active"
          type="button"
        >
          View All Products
        </button>
        <button class="slide__btn-button" type="button">
          Popular Products
        </button>
      </div>
    </div>
    <div class="slide__search-wrapper">
      <div class="slide__search-box">
        <form action="#" class="form">
          <div class="form__search-block">
            <input
              class="form__search"
              type="text"
              placeholder="Search your products..."
            />
            <select name="categories" class="form__select">
              <option value="0">All Categories</option>
              <option value="1">Wordpress</option>
              <option value="2">Landing Page</option>
              <option value="3">Psd Template</option>
              <option value="4">Plugins</option>
              <option value="5">HTML Template</option>
              <option value="6">Components</option>
              <option value="7">Joomla Template</option>
            </select>
          </div>
          <button type="submit">Search Now</button>
        </form>
      </div>
    </div>
  </div>
</section>