.page-404 {

   // .page-404__section

   &__section {
      padding-bottom: 100px;
   }

   // .page-404__head

   &__head {
 
   }

   // .page-404__subtitle

   &__subtitle {

   }

   // .page-404__inner

   &__inner {
      padding-top: 80px;
      padding-bottom: 120px;
      text-align: center;
   }

   // .page-404__image

   &__image {
      margin-bottom: 50px;
   }

   // .page-404__text

   &__text {
      margin-bottom: 40px;
      font-size: 30px;
      color: #000;
   }

   // .page-404__link

   &__link {
      padding: 0 45px;
      color: #ffffff;
      font-family: Quicksand;
      font-size: 15px;
      line-height: 50px;
      font-weight: 500;
      box-shadow: 0 5px 30px rgba(0, 0, 0, 0.1);
      border-radius: 25px;
      background-color: #0674ec;
      transition: all 0.3s;
      &:hover {
         background-color: rgba(6, 117, 236, 0.521);
      }
   }
}
