.header {

  // .header__top

  &__top {
    background-color: $bg;
  }

  // .header__top-inner

  &__top-inner {
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  // .header__register

  &__register {
    margin-left: auto;
    margin-right: 50px;

    a {
      padding: 6px;
      width: 140px;
      box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
      border-radius: 18px;
      background-color: #0674ec;
      font-size: 14px;
      color: #fff;
      text-align: center;
    }
  }

  // .header__box

  &__box {
    display: flex;
    align-items: center;
  }

  // .header__box-notification

  &__box-notification {
    margin-top: 78px;
    position: relative;
    height: 100px;

    .box-notification {

      // .box-notification__link

      &__link {
        position: relative;
      }

      // .box-notification__link-icon

      &__link-icon {
        fill: #7e8fa1;
      }

      // .box-notification__link-counter

      &__link-counter {
        top: -17px;
        width: 26px;
        background-color: #ff6a6c;
      }

      // .box-notification__menu

      &__menu {
        position: absolute;
        top: 61px;
        left: -29px;
        z-index: 1;
        box-shadow: 0 5px 40px rgba(82, 85, 90, 0.2);
        border-radius: 0 0 3px 3px;
        height: 0;
        overflow: hidden;
        transition: all 0.5s;

        .notification-menu {

          // .notification-menu__header

          &__header {
            position: relative;
            width: 370px;
            padding: 0px 25px;
            background-color: #fff;
            display: flex;
            justify-content: space-between;
            align-items: center;
            border-top: 0px solid #0674ec;
            border-bottom: 0px solid #e8ebf0;


            &::after {
              content: '';
              position: absolute;
              top: -10px;
              left: 29px;
              width: 0;
              height: 0;
              border-style: solid;
              border-width: 0;
              border-color: transparent transparent #0675ec transparent;
              box-shadow: 0 5px 40px rgba(82, 85, 90, 0.2);
            }
          }

          // .notification-menu__title

          &__title {
            font-size: 18px;
            color: #000;
            letter-spacing: -0.6px;
          }

          // .notification-menu__view

          &__view {
            color: #0674ec;
            font-size: 15px;
          }

          // .notification-menu__link

          &__link {
            width: 370px;
            padding: 0 25px;
            background-color: #fff;
            display: flex;
            justify-content: space-between;
            align-items: center;
            border-top: 0px solid #e8ebf0;
            border-bottom: 0px solid #e8ebf0;

            &:last-child {
              padding-bottom: 10px;
              border-bottom: none;
            }
          }

          // .notification-menu__link-image

          &__link-image {
            align-self: start;
            margin-right: 14px;
            width: 40px;
            height: 40px;
            border-radius: 50%;
            object-fit: cover;
          }

          // .notification-menu__link-info

          &__link-info {
            margin-right: auto;

            .menu-info {

              // .menu-info__name

              &__name {
                font-size: 16px;
                line-height: 18px;
                color: #747a86;

                b {
                  font-weight: 500;
                  color: #333333;
                }
              }

              // .menu-info__name-theme

              &__name-theme {
                display: block;
                font-size: 15px;
                color: #0674ec;
              }

              // .menu-info__date

              &__date {
                margin-top: 5px;
                font-size: 14px;
                color: #747a86;
              }
            }
          }

          // .notification-menu__link-icon

          &__link-icon {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 32px;
            height: 32px;
            border-radius: 50%;
            background-color: rgba(6, 117, 235, 0.1);

            .menu-icon {

              // .menu-icon__heart

              &__heart {
                fill: #0674eb;
              }

              // .menu-icon__bubble

              &__bubble {
                fill: #7347c1;
              }

              // .menu-icon__cart

              &__cart {
                fill: #ff6a6c;
              }

              // .menu-icon__star

              &__star {
                fill: #62d03a;
              }
            }
          }
        }
      }
    }

    &:hover {
      .box-notification__menu {
        height: auto;
        overflow: visible;
        transition: all 0.5s;
      }

      .notification-menu__header {
        padding-top: 23px;
        padding-bottom: 17px;
        border-width: 1px;

        &::after {
          border-width: 0 9px 10px 9px;
        }
      }

      .notification-menu__link {
        padding-top: 18px;
        padding-bottom: 14px;
        border-width: 1px;
      }
    }
  }

  // .header__box-message

  &__box-message {
    margin-top: 74px;
    padding-left: 30px;
    position: relative;
    height: 100px;

    .box-message {

      // .box-message__link

      &__link {
        position: relative;
      }

      // .box-message__link-icon

      &__link-icon {
        fill: #7e8fa1;
      }

      // .box-message__link-counter

      &__link-counter {
        top: -15px;
        background-color: #62d03b;
      }

      // .box-message__menu

      &__menu {
        position: absolute;
        top: 61px;
        right: -25px;
        z-index: 1;
        box-shadow: 0 5px 40px rgba(82, 85, 90, 0.2);
        border-radius: 0 0 3px 3px;
        height: 0;
        overflow: hidden;
        transition: all 0.5s;

        .message-menu {

          // .message-menu__header

          &__header {
            position: relative;
            width: 370px;
            padding: 0px 25px;
            background-color: #fff;
            display: flex;
            justify-content: space-between;
            align-items: center;
            border-top: 0px solid #0674ec;
            border-bottom: 0px solid #e8ebf0;


            &::after {
              content: '';
              position: absolute;
              top: -10px;
              right: 28px;
              width: 0;
              height: 0;
              border-style: solid;
              border-width: 0;
              border-color: transparent transparent #0675ec transparent;
              box-shadow: 0 5px 40px rgba(82, 85, 90, 0.2);
            }
          }

          // .message-menu__title

          &__title {
            font-size: 18px;
            color: #000;
            letter-spacing: -0.6px;
          }

          // .message-menu__link-view

          &__link-view {
            color: #0674ec;
            font-size: 15px;
          }

          // .message-menu__link

          &__link {
            width: 370px;
            padding: 0 25px;
            background-color: #fff;
            display: flex;
            justify-content: space-between;
            align-items: center;
            border-top: 0px solid #e8ebf0;
            border-bottom: 0px solid #e8ebf0;

            &:last-child {
              padding-bottom: 10px;
              border-bottom: none;
            }
          }

          // .message-menu__link-image

          &__link-image {
            margin-right: 14px;
            width: 40px;
            height: 40px;
            border-radius: 50%;
            object-fit: cover;
          }

          // .message-menu__link-info

          &__link-info {
            width: 270px;
            display: flex;
            flex-direction: column;

            .link-info {

              &__top {
                display: flex;
                justify-content: space-between;
              }

              // .link-info__name

              &__name {
                font-size: 16px;
                font-weight: 500;
                color: #333;
              }

              // .link-info__date

              &__date {
                color: #747a86;
                // .link-info__date--active

                &--active {
                  color: #0674ec;
                }
              }
            }
          }

          // .message-menu__link-icon

          &__link-icon {
            margin-right: auto;
            margin-left: 13px;
            fill: $text;

            &--active {
              fill: #0674ec;
            }
          }
        }
      }
    }

    &:hover {
      .box-message__menu {
        height: auto;
        overflow: visible;
        transition: all 0.5s;
      }

      .message-menu__header {
        padding-top: 23px;
        padding-bottom: 17px;
        border-width: 1px;

        &::after {
          border-width: 0 9px 10px 9px;
        }
      }

      .message-menu__link {
        padding-top: 18px;
        padding-bottom: 14px;
        border-width: 1px;
      }
    }
  }

  // .header__box-basket

  &__box-basket {
    margin-top: 78px;
    padding-left: 30px;
    position: relative;
    height: 100px;

    .box-basket {

      // .box-basket__link

      &__link {
        position: relative;
      }

      // .box-basket__link-icon

      &__link-icon {
        fill: #7e8fa1;
      }

      // .box-basket__link-counter

      &__link-counter {
        top: -17px;
        background-color: #0674ec;
      }

      // .box-basket__menu

      &__menu {
        position: absolute;
        top: 61px;
        right: -30px;
        z-index: 1;
        box-shadow: 0 5px 40px rgba(82, 85, 90, 0.2);
        border-radius: 0 0 3px 3px;
        height: 0;
        overflow: hidden;
        transition: all 0.5s;

        .basket-menu {

          // .basket-menu__item

          &__item {
            width: 400px;
            padding: 0 25px;
            background-color: #fff;
            display: flex;
            justify-content: space-between;
            align-items: center;
            border-bottom: 0px solid #e8ebf0;

            &:first-child {
              position: relative;
              border-top: 0px solid #0674ec;

              &::after {
                content: '';
                position: absolute;
                top: -10px;
                right: 28px;
                width: 0;
                height: 0;
                border-style: solid;
                border-width: 0;
                border-color: transparent transparent #0675ec transparent;
                box-shadow: 0 5px 40px rgba(82, 85, 90, 0.2);
              }
            }
          }

          // .basket-menu__item-image

          &__item-image {
            margin-right: 15px;
          }

          // .basket-menu__item-info

          &__item-info {
            max-width: 175px;
            margin-right: auto;

            svg {
              margin-right: 5px;
            }

            .item-info {

              // .item-info__name

              &__name {
                font-size: 16px;
                font-size: 16px;
                font-weight: 500;
                line-height: 22px;
                color: #000;
              }

              // .item-info__theme

              &__theme {
                display: flex;
                align-items: center;
                line-height: 30px;
                color: #7347c1;
              }
            }
          }

          // .basket-menu__item-coast

          &__item-coast {
            display: flex;
            flex-direction: column;
            align-items: center;

            .item-coast {

              // .item-coast__icon-inner

              &__icon-inner {
                margin-bottom: 10px;
                display: flex;
                justify-content: center;
                align-items: center;
                width: 32px;
                height: 32px;
                background-color: rgba(115, 70, 192, 0.1);
                border-radius: 50%;

                .trash-icon {
                  fill: #818c98;
                }
              }

              // .item-coast__price

              &__price {
                display: flex;
                justify-content: center;
                align-items: center;
                width: 50px;
                height: 30px;
                font-size: 16px;
                font-weight: 500;
                color: #0674ec;
                border-radius: 15px;
                background-color: rgba(6, 117, 236, 0.1);
              }
            }
          }

          // .basket-menu__sum

          &__sum {
            width: 400px;
            background-color: #fff;
            border-top: 0px solid #e8ebf0;
            border-bottom: 0px solid #e8ebf0;

            .menu-sum {

              // .menu-sum__title

              &__title {
                padding: 0 25px;
                padding-top: 20px;
                padding-bottom: 30px;
                display: flex;
                justify-content: flex-end;
                font-size: 18px;
                font-weight: 500;
                color: #000;
              }

              // .menu-sum__price

              &__price {
                margin-left: 30px;
              }

              // .menu-sum__btn-inner

              &__btn-inner {
                display: flex;
                justify-content: space-between;

              }

              // .menu-sum__btn

              &__btn {
                padding: 18px 5px;
                width: 200px;
                color: #fefefe;
                font-size: 15px;
                text-align: center;
              }

              // .menu-sum__btn-cart

              &__btn-cart {
                background-color: #7347c1;
                border-radius: 0 0 0 3px;
              }

              // .menu-sum__btn-checkout

              &__btn-checkout {
                border-radius: 0 0 3px;
                background-color: #0674ec;
              }
            }
          }
        }
      }
    }

    &:hover {
      .box-basket__menu {
        height: auto;
        overflow: visible;
        transition: all 0.5s;
      }

      .basket-menu__item {
        padding-top: 23px;
        padding-bottom: 17px;
        border-width: 1px;

        &:first-child {
          border-width: 1px;

          &::after {
            border-width: 0 9px 10px 9px;
          }
        }
      }

      .message-menu__link {
        padding-top: 18px;
        padding-bottom: 14px;
        border-width: 1px;
      }
    }
  }

  // .header__box-user

  &__box-user {
    margin-top: 40px;
    position: relative;
    height: 100px;

    .box-user {

      // .box-user__link

      &__link {
        display: flex;
      }

      // .box-user__avatar

      &__avatar {
        margin-right: 22px;
        margin-left: 45px;
        width: 50px;
        height: 50px;
        border-radius: 50%;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
      }

      // .box-user__user-name

      &__user-name {
        color: #333;
        font-size: 16px;
        font-weight: 500;
      }

      // .box-user__price

      &__price {
        display: block;
        color: #0674ec;
      }

      // .box-user__menu

      &__menu {
        position: absolute;
        top: 80px;
        right: 0;
        width: 270px;
        box-shadow: 0 5px 40px rgba(82, 85, 90, 0.2);
        border-radius: 0 0 3px 3px;
        background-color: #ffffff;
        z-index: 1;
        transition: all 0.3s;
        height: 0;
        overflow: hidden;
        padding: 0 20px;
        border-top: 0 solid #0674ec;

        &::after {
          content: '';
          position: absolute;
          top: -10px;
          right: 28px;
          width: 0;
          height: 0;
          border-style: solid;
          border-width: 0;
          border-color: transparent transparent #0675ec transparent;
          box-shadow: 0 5px 40px rgba(82, 85, 90, 0.2);
        }

        .user-menu {

          // .user-menu__item

          &__item {
            display: block;
          }

          // .user-menu__link

          &__link {
            display: block;
            width: 230px;
            color: #54667a;
            padding: 15px 0;

            &:hover {
              border-radius: 2px;
              color: #fff;
              background-color: #0674ec;

              svg {
                fill: #fff;
              }
            }
          }

          // .user-menu__icon

          &__icon {
            position: relative;
            margin-right: 15px;
            top: 2px;
            fill: #54667a;
          }
        }
      }
    }

    &:hover {
      .box-user__menu {
        padding-top: 20px;
        padding-bottom: 15px;
        border-top: 1px solid #0674ec;
        height: auto;
        overflow: visible;

        &::after {
          border-width: 0 9px 10px 9px;
        }
      }
    }
  }

  // .header__menu

  &__menu {}

  // .header__menu-inner

  &__menu-inner {
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  // .header__drop-down

  &__drop-down {}

  // .header__menu-search

  &__menu-search {
    max-width: 360px;
    width: 100%;
    position: relative;

    input {
      display: block;
      width: 100%;
      border-radius: 23px;
      border: 1px solid #d9dfe5;
      height: 46px;
      padding-left: 25px;
      padding-right: 70px;
      color: $text;

      &::placeholder {
        color: #898f96;
        font-weight: 400;
      }

      &:focus {
        outline: 1px solid #ccc;
      }
    }

    button {
      display: flex;
      justify-content: center;
      align-items: center;
      position: absolute;
      width: 70px;
      height: 46px;
      border: none;
      border-radius: 23px;
      background-color: #0674ec;
      top: 0;
      right: 0;
      cursor: pointer;

      svg {
        fill: #fff;
      }
    }
  }
}

.counter {
  position: absolute;
  right: -11px;
  width: 22px;
  height: 22px;
  border-radius: 11px;
  font-size: 14px;
  font-weight: 500;
  line-height: 22px;
  color: #fff;
  text-align: center;
}

.menu-image {}

.alarm-icon {}

.envelope-icon {}

.cart-icon {}

.wp-icon {}

.trash-icon {}

.user-icon {}

.home-icon {}

.cog-icon {}

.heart-icon {}

.dice-icon {}

.bars-icon {}

.upload-icon {}

.book-icon {}

.briefcase-icon {}

.exit-icon {}

.menu {

  // .menu__list

  &__list {
    display: flex;
    align-items: center;

    li {
      display: inline-block;

      &+li {
        margin-left: 30px;
      }
    }

    a {
      color: #333333;
      font-size: 15px;
      font-weight: 500;
      text-transform: uppercase;
      transition: all 0.3s;

      &:hover {
        color: #0674ec;
      }
    }
  }
}

.drop-down {

  // .drop-down__menu

  &__menu {
    position: relative;
    &:hover {
      .drop-down__list {
        height: auto;
        overflow: visible;
        opacity: 1;
      }
    }

  }

  // .drop-down__link

  &__link {
 
   
  }

  // .drop-down__list

  &__list {
    padding: 20px;
    position: absolute;
    left: 0;
    top: 52px;
    width: 270px;
    box-shadow: 0 5px 40px rgba(82, 85, 90, 0.2);
    border-top: 1px solid #0674ec;
    border-radius: 0 0 3px 3px;
    background-color: #ffffff;
    z-index: 1;
    height: 0;
    overflow: hidden;
    opacity: 0;

    li+li {
      margin: 0;
    }

    a {
      padding: 17px 17px 17px 10px;
      color: #54667a;
      font-size: 15px;

      &:hover {
        color:#fff;
        border-radius: 2px;
        background-color: #0674ec;
      }
    }

  }

  // .drop-down__wrapper

  &__wrapper {}

  // .drop-down__item

  &__item {}

  // .drop-down__item--big

  &__item--big {}

  // .drop-down__title

  &__title {}
}

.active {}

.header-icon {

  // .header-icon__magnifier

  &__magnifier {}
}