.product-item {
   margin: 0 auto;

   // .product-item__inner

   &__inner {
      max-width: 360px;
      width: 100%;
      box-shadow: 0 2px 4px rgba(108, 111, 115, 0.1);
      border-radius: 4px;
      background-color: #ffffff;
   }

   // .product-item__images

   &__images {
      position: relative;
      display: block;
      min-height: 230px;
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
   }

   &__images--hover {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: #0674ec;
      background-image: linear-gradient(to left, #0674ec 0%, #7347c1 100%);
      opacity: 0;
      transition: opacity 0.3s;

      &:hover {
         opacity: 0.9;
      }

      a {
         padding: 0 30px;
         line-height: 45px;
         color: #fff;
         border-radius: 23px;
         border: 1px solid #f4f4f4;
         box-shadow: 0 4px 15px rgba(0, 0, 0, 0.15);

         &+a {
            margin-left: 11px;
         }

         &:hover {
            color: #0674ec;
            background-color: #ffffff;
         }
      }
   }

   // .product-item__wrapper

   &__wrapper {
      background-color: #fff;
   }

   // .product-item__content

   &__content {
      padding: 30px 30px 34px;
      border-bottom: 1px solid #ececec;
   }

   // .product-item__title

   &__title {
      margin-bottom: 17px;
      font-size: 20px;
      font-weight: 500;
      color: $black;
   }

   // .product-item__name

   &__name {
      margin-bottom: 30px;
      display: flex;
      align-items: center;
   }

   // .product-item__author

   &__author {
      margin-right: 20px;
      display: flex;
      align-items: center;
   }

   // .product-item__avatar

   &__avatar {
      margin-right: 7px;
      width: 28px;
      height: 28px;
   }

   // .product-item__category

   &__category {
      display: flex;
      align-items: center;

      span {
         margin-left: 9px;
         color: #7347c1;
      }
   }

   // .product-item__description

   &__description {
      font-size: 16px;
      line-height: 30px;
   }

   // .product-item__selection

   &__selection {
      display: none;
   }

   // .product-item__info

   &__info {
      padding: 15px 30px;
      display: flex;
      justify-content: space-between;
      align-items: center;
   }

   // .product-item__info-price

   &__info-price {
      margin-right: 13px;
      padding: 0 17px;
      border-radius: 15px;
      background-color: rgba(6, 117, 236, 0.1);
      color: #0674ec;
      font-weight: 500;
      line-height: 30px;
   }

   // .product-item__info-action

   // &__info-action {
   //    display: flex;
   //    align-items: center;
   //    max-width: 230px;

   // }

   // .product-item__info-info-heart

   &__info-heart {
      color: #7f4ec2;

      span {
         color: #6f7d8d;
      }
   }

   // .product-item__info-info-bubble

   &__info-bubble {
      display: none;
   }

   // .product-item__info-star

   &__info-star {
      //  visibility: hidden;
      background-image: url('../../images/icons/star-o.svg');
      background-size: contain;
      margin-right: auto;
      margin-left: 6px;
   }

   // .product-item__info-cart

   &__info-cart {
      color: #0674ec;
   }
}

main {

   background-color: #f6f7fb;
}